extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis vitae ante at pulvinar. Mauris ut consectetur arcu. In lacinia tortor magna, ornare hendrerit risus dictum non. Proin dignissim quam sagittis, molestie metus condimentum, venenatis quam. Nunc et enim fringilla, tincidunt neque at, dapibus mi. In ut erat eu arcu pulvinar hendrerit a viverra nisl. Etiam ligula magna, dapibus quis pharetra quis, fermentum ac ipsum. Etiam molestie tincidunt magna non condimentum. Donec ac est nec nunc vestibulum porttitor. Quisque pellentesque tellus eu luctus venenatis. Etiam vel elit porttitor, accumsan libero quis, vulputate ante.

                p Curabitur id feugiat ipsum. Quisque at felis sit amet enim imperdiet imperdiet. Nunc vitae ex ac nibh fermentum tincidunt a vulputate ligula. Nullam vel lorem eu enim placerat tempor a nec felis. Nulla vitae sapien tellus. Sed blandit consectetur efficitur. Fusce auctor mattis felis gravida finibus. Vivamus id urna commodo, mollis lorem et, blandit nisi. Praesent nec euismod turpis. Sed sit amet mauris lectus. Nam in arcu nulla.

                p Aenean ornare et lectus vel bibendum. Proin non quam congue, rhoncus sapien vitae, ultricies nunc. Nam interdum nunc eget elit mattis, vel semper sapien aliquet. In velit orci, fringilla luctus mattis tincidunt, feugiat id magna. Morbi pharetra eget massa vitae vehicula. Suspendisse id ullamcorper lectus. Ut dapibus faucibus tortor ac pharetra. Quisque et vestibulum lectus. In tortor dolor, aliquet at augue et, hendrerit vestibulum ante.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p In velit orci, fringilla luctus mattis tincidunt, feugiat id magna. Morbi pharetra eget massa vitae vehicula. Suspendisse id ullamcorper lectus. Ut dapibus faucibus tortor ac pharetra. Quisque et vestibulum lectus. In tortor dolor, aliquet at augue et, hendrerit vestibulum ante.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="Icono Destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p In velit orci, fringilla luctus mattis tincidunt, feugiat id magna. Morbi pharetra eget massa vitae vehicula. Suspendisse id ullamcorper lectus. Ut dapibus faucibus tortor ac pharetra. Quisque et vestibulum lectus. In tortor dolor, aliquet at augue et, hendrerit vestibulum ante.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="Icono Precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p In velit orci, fringilla luctus mattis tincidunt, feugiat id magna. Morbi pharetra eget massa vitae vehicula. Suspendisse id ullamcorper lectus. Ut dapibus faucibus tortor ac pharetra. Quisque et vestibulum lectus. In tortor dolor, aliquet at augue et, hendrerit vestibulum ante.